:root {
    --BlackorWhite: white;
    --whiteOrBlack: black;
    --midgardDarkBrown: #392617;
    --midgardBrown: #7A4614;
    --midgardOrange: #C56C18;
    --midgardBrightOrange: #F08B19;
    --midgardBrighterOrange: #F4B87A;
    --midgardGreen: #214001;
    --Background1: rgba(245, 243, 242, 0.998);
    --Background2: rgb(47, 47, 47);
}

img {
    width: 28px;
    height: 28px;
}

@font-face {
    font-family: isocpeur;
    font-style: normal;
    src: "../assets/ISOCPEUR.tff";
}

* {
    margin: 0px;
    padding: 0px;
    font-family: isocpeur;
}

body {
    background-color: var(--Background1);
}

.flexnav,
.entete {
    justify-content: space-between;
    border-bottom: 0.5px;
    border-color: var(--whiteOrBlack);
    border-bottom-style: solid;
    display: flex;
    align-items: center;
    position: sticky;
    top: 5px;
    margin: auto 10% auto 10%;

}

.navbox>h3 {
    background-color: var(--Background1);
    color: var(--midgardGreen);
    padding-left: 8px;
    padding-right: 8px;
    margin: 5px;
}

.navbox,
.sousEntete,
.flexnavs>h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexnavs {
    font-family: isocpeur;
    border-radius: 10px;
    background-color: var(--Background1);
    text-decoration: none;
    color: var(--midgardDarkBrown);
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    margin-left: 2.5px;
}

.deconnexion,
.deconnexion>img {
    padding: 0;
    margin: 0;
    height: 15px;
    width: 15px;
}

.flexnavs:hover {
    color: var(--midgardOrange);
}

footer,
section,
form {
    margin: 25px;
    margin-left: 10%;
    margin-right: 10%;
}

section {
    margin-top: 0px;

}


/*style listbox modifié https://stackoverflow.com/questions/68666010/styling-is-not-working-on-option-of-datalist*/

#rechercheProjet {
    width: 300px;
    height: 20px;
    padding: 2px;
    box-shadow: 0px 0.2px 0px var(--midgardGreen);
    border: none;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    background-color: var(--Background1);
}

#rechercheProjet:active {
    transform: scale(0.98);

}

#rechercheProjet:focus {
    border-color: none;
    outline: none;
}

#listeProjets {
    max-height: 120px;
    overflow-x: hidden;
    /* définir les mécanismes à utiliser (rognage, ascenseurs, dépassement, etc.) lorsque le contenu dépasse des bords droit*/
    overflow-y: auto;
    position: absolute;
    width: 300px;
    padding: 5px;
    margin-top: 5px;
}

#listeProjets option {
    font-size: 13px;
    background-color: var(--midgardGreen);
    padding: 5px;
    color: var(--Background1);
}

#listeProjets option:hover {
    /* pour utilisation avec navigation flèches ultérieusement */
    color: var(--BlackorWhite);
    background-color: var(--midgardBrightOrange);
}

/*style listbox modifié https://stackoverflow.com/questions/68666010/styling-is-not-working-on-option-of-datalist*/

#grid1,
#grid2 {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
}

#Projets1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: fit-content;

}



#Entete {
    width: 110px;
}

/* th:first-of-type,
    td:first-of-type {
      width: 500px;
    } */

#Projets2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    /* background-color: green; */

}

#infoProjets {
    margin-right: 0%;
    width: 100%;
}

.Boutton {
    width: 49%;
    height: 20px;
}

#Tache1 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    height: fit-content;
}

#thdescriptif {
    width: 300px;
}


#Tache2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

}

.bouton {
    background-color: var(--Background1);
    border: none;
    width: 20px;
}

.bouton:hover {
    border-radius: 5px;
    background-color: var(--midgardBrighterOrange);
}

.bouton>img,
a>img {
    height: 11px;
    width: 11px;
}